<nav>
    <a href="/">Home</a>
    <% if(user) { %>
      <a href="/users/<%=user._id%>/foods">View my appointments</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
     
    <% } %>
  </nav>
  