<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zee's Health</title>
    <style>
    body {
    background-color: #ba23db; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 50%; 
    margin:0 auto;
    padding: 20px;
    text-align: center; 
}
h1 {
  color: #0d0d0d; 
}
p {
  margin-bottom: 20px; 
}
a {
  text-decoration: none; 
  color: #8ec7ed; 
}
a:hover {
  text-decoration: underline; 
}

    </style>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>ZeeHealth</h1>
  <p>Book your doctor's appoint.</p>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
</body>
</html>

          