<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zee's Health</title>
    <style>
    body {
      background-color: #c42baa;
      font-family: Arial, sans-serif;
      display:flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 2px; 
      border-radius: 0;
      border-color: #ddd;
      }
      .container {
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      background-color: #9d1d6e;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(56, 52, 52, 0.1);
      position: absolute;
      top: 50%;
      left: 50%;
       transform: translate(-50%, -50%);
      }
      h1 {
      text-align: center;
     
      }
      label {
      margin-bottom: 10px;
      }
      input[type="text"], input[type="password"] {
      width: 80%;
      padding: 10px;
      margin-bottom: 20px;
      border: 0px solid #ccc;
      border-radius: 0px;
      }
      button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      }
      button[type="submit"]:hover {
      background-color: #0069d9;
      }
      </style>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <h1>ZeeHealth</h1>
  <p>Book your doctor's appoint.</p>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
</body>
</html>

          