<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Appointment</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Appointment</h1>
    <form action="/users/<%= user._id %>/appointments" method="POST">
        <% if (doctors) { %>
        <select id="doctor" name="doctor">
            <option value="">Select a doctor</option>
                <% doctors.forEach((doctor) => { %>
                    <option value="<%= doctor._id %>"><%= doctor.name %></option>
                <% }); %>
        </select>
        <% } else { %> 
            <p>No doctors found. Please add a doctor first.</p>
        <% } %>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="phone">Phone:</label>
        <input name="phone" id="phone">
        <label for="appointmentDate">Appointment Date:</label>
        <input type="date" name="appointmentDate" id="appointmentDate">
        <label for="appointmentTime">Appointment Time:</label>
        <input type="time" name="appointmentTime" id="appointmentTime">
        <button type="submit">Add appointment</button>
    </form>
</body>
</html>